/node_modules
/storage/*.key
/storage/framework/views/*
/vendor
/public/assets/uploads/*
/storage/*.php
/storage/framework/views/
.env
/resources/*.DS_Store
/resources/views/*.DS_Store
/resources/views/admin/*.DS_Store
.DS_Store
